.site{
    background-color: rgb(248, 240, 222);
}

.body{
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 850px;
}

.wide-body {
    margin: auto;
    width: 95%;
}

.write-area {
    min-height: 75vh;
}

.post-title{
    text-align: center;
    /* padding-bottom: 30px; */
}

.post-main{
    text-align: left;
}

footer{
    background-color: white;
    /* padding-top: 10px; */
}

footer .footer-nav {
    background-color: rgb(236, 235, 235);
    padding-top: 20px;
    padding-bottom: 20px;
}

.base-footer{
    padding-top: 20px;
}

/* .thermometer {
    position: relative;
    height: 60px; /* Adjust the height as needed 
    width: 50px; /* Width of the thermometer 
    margin: 50px auto; /* Centering the thermometer 
} */

.circle {
    width: 60px; /* Diameter of the circle */
    height: 60px;
    background-color: #db0000;
    border-bottom-right-radius: 60px; /* Quarter-circle on the top-left */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
     /* Fixed to the left */
    /* clip-path: polygon(100% 0, 100% 100%, 0 100%); Quarter-circle clip-pat */
}

.progress-container {
    background-color: #f0f0f0;
    height: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.progress-bar {
    background-color: #db0000;
    height: 100%;
    min-width: 59px;
    transition: width 0.2s ease-in-out;
}
