.site{
    background-color: rgb(248, 240, 222);
}

.fever-navbar {
    min-height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
}

.body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 950px;
}

.wide-body {
    margin: auto;
    width: 95%;
}

.write-area {
    min-height: 75vh;
}

.post-title{
    text-align: center;
    /* padding-bottom: 30px; */
}

.post-main{
    text-align: left;
}

footer{
    background-color: white;
    /* padding-top: 10px; */
}

footer .footer-nav {
    background-color: rgb(236, 235, 235);
    padding-top: 20px;
    padding-bottom: 20px;
}

.base-footer{
    padding-top: 20px;
}

.circle {
    width: 50px; /* Diameter of the circle */
    height: 50px;
    background-color: #db000099; /* rgba(255, 255, 255, 0.6);*/
    border-bottom-right-radius: 50px; /* Quarter-circle on the top-left */
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 0;
     /* Fixed to the left */
    /* clip-path: polygon(100% 0, 100% 100%, 0 100%); Quarter-circle clip-pat */
}

.progress-container {
    background-color: #f0f0f0;
    height: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.progress-bar {
    background-color: #db000099;
    height: 100%;
    min-width: 50px;
    transition: width 0.2s ease-in-out;
}
