{% extends "blog/base_footer.html" %}

{% block body %}
<div class="container body">
    <ul>
        {% for article in articles %}
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
                <div style="flex-grow: 1;">
                    <a href="article/{{article.slug}}">{{ article.title }}</a>
                    <p>{{ article.description }}</p>
                </div>
                {% if user.is_superuser %}
                    <a href="{% url 'edit-article' article.slug %}" class="btn btn-primary">Edit</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}