{% extends "blog/base_footer.html" %}

{% block body %}
<div class="container body">
    <h1 class="post-title">
        {% block posttitle %}
            {{ article.title }}
        {% endblock %}
    </h1>

    <div class="post-main">
        {% block postmain %}
            <!--With safe we tell Django to not escape html-->
            {{ article.content | safe }}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
    <div class="footer-nav row justify-content-center">
        <a class="col-4 text-left" href="/article/{{ prev.slug }}">Previous: {{ prev.title }}</a>

        <a class="col-4 text-right" href="/article/{{ next.slug }}">Next: {{ next.title }}</a>
    </div>

    {{ block.super }}
{% endblock %} 